<!-- NEW USERS--><div id = "signup"><h1>Sign up</h1>
<form action="/members" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		First Name: <input type="text" name="first_name">
		Last Name: <input type="text" name="last_name">
		Email: <input type="email" id="Email" name="email">

		Password:<input type="password" name="password">
	<input type="submit" value="Register">
</form>
</div>

<div id = "login">
<h1>Login</h1>

<form action="/main/new" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		Email: <input type="email" name="email">
Password: <input type="password" name="password">
	<input type="submit" value="Login">
</form>
</div>
